.payme-cruise-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  /* h1 {
    color: #007bff;
  }
  
  h2 {
    color: #009688;
    margin-top: 20px;
  }
  
  p {
    margin: 10px 0;
  } */
  
  .icon-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .icon-container img {
    width: 30px;
    margin-right: 10px;
  }
/*   
  .loan-amount-slider,
  .interest-rate-slider,
  .tenure-slider {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .loan-amount-slider input[type='range'],
  .interest-rate-slider input[type='range'],
  .tenure-slider input[type='range'] {
    flex: 1;
  }
  
  .loan-amount-slider span,
  .interest-rate-slider span,
  .tenure-slider span {
    flex: 0 0 50px;
    text-align: center;
  } */
  
  .loan-details {
    margin-top: 20px;
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .loan-details p {
    margin: 5px 0;
  }
  
  .loan-details p span {
    font-weight: bold;
  }  